body {
  background: #8fc6bb;
  background: -o-linear-gradient(45deg, #8fc6bb 0%, #8fc6bb 25%, #8667c1 25%, #8667c1 75%, #8fc6bb 75%, #8fc6bb 100%);
  background: linear-gradient(45deg, #8fc6bb 0%, #8fc6bb 25%, #8667c1 25%, #8667c1 75%, #8fc6bb 75%, #8fc6bb 100%);
  font-family: Raleway;
  line-height: 1.5; }
