html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: rgb(143,198,187);
  background: linear-gradient(45deg, rgba(143,198,187,1) 0%, rgba(143,198,187,1) 25%, rgba(134,103,193,1) 25%, rgba(134,103,193,1) 50%, rgba(134,103,193,1) 50%, rgba(134,103,193,1) 75%, rgba(143,198,187,1) 75%, rgba(143,198,187,1) 100%);
  font-family: Raleway;
  line-height: 1.5;
}
header{
  background: white;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 150px 120px 0;
  flex-wrap: wrap;
}
.header__block-photo{
  width: 50%;
}
.header__block-about_me {
  width: 50%;
  padding-right: 50px;
  padding-top: 50px;
}
.title {
  text-transform: uppercase;
}
.title:first-child {
  font-size: 20px;
}
.firstname {
  font-size: 50px;
  color: #77C79D;
  font-weight: bold;
}
.lastname {
  font-size: 66px;
  font-weight: bold;
}
.position {
  font-size: 23px;
  color: #77C79D;
}
.line{
  border: none; 
  background-color: #414042; 
  color: #414042; 
  height: 2px; 
}
.square {
  width: 450px;
  height: 450px;
  background: #795DA8;
}
.greeting {
  color: white;
  font-size: 64px;
  transform: rotate(90deg);
  position: absolute;
  left: 125px;
  top: 325px;
  text-transform: uppercase;
}
.photo {
  position: absolute;
  left: 300px;
  top: 200px;
}
img {
  max-width: 350px;
}
.icon {
  fill: currentColor;
  /*display: inline-block;*/
  /*font-size: inherit;*/
  height: 1rem;
  overflow: visible;

}
a {
  color: #795DA8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.links {
  margin: 10px 0 20px 0;
  font-size: 14px;
  display: flex;
}
.links__block {
  margin-right: 30px;
}
.links__block:last-child {
  margin-right: 0;
}
.link-item {
  display: flex;
  justify-content: flex-start;
  /*align-items: flex-start;*/
  margin-bottom: 10px;
}
.link-item:last-child {
  margin-bottom: 0;
}
.link-item svg {
  margin-right: 5px;
}
main {
  background-color: white;
  margin: 0 120px;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.block_text {
  flex-basis: 45%;
}
h2 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}
.block_text_skill {
  background: orange;
  background-size: cover;
  width: 300px;
  height: 300px;
  position: relative;
  left: -120px;
}

.text-pos {
  position: relative;
  left: 125px;
  clip: auto;
}
.job {
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.job-company {
  font-weight: bold;
  line-height: 1.2;
}
